<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Suite für Browser Chrome, Firefox, Edge">
	<test name="test mit chrome">
		<parameter name="urlHub" value="http://192.168.16.103:4444/wd/hub"></parameter>
		<parameter name="browserName" value="chrome"></parameter>
		<classes>
			<class name="com.inverso.dmy.test.Checkbox" />
		</classes>
	</test>
	<test name="test mit firefox">
		<parameter name="urlHub" value="http://192.168.16.103:4444/wd/hub"></parameter>
		<parameter name="browserName" value="firefox"></parameter>
		<classes>
			<class name="com.inverso.dmy.test.Checkbox" />
		</classes>
	</test>
	<test name="test mit edge">
		<parameter name="urlHub" value="http://192.168.16.103:4444/wd/hub"></parameter>
		<parameter name="browserName" value="edge"></parameter>
		<classes>
			<class name="com.inverso.dmy.test.Checkbox" />
		</classes>
	</test>
</suite>
