<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Suite für Browser Chrome, Firefox, Edge">
	<test name="test mit chrome">
		<parameter name="urlHub" value="http://192.168.16.103:4444/wd/hub"></parameter>
		<parameter name="browserName" value="chrome_headless"></parameter>
		<!-- mögliche Browser: chrome, chrome_headless, firefox, edge-->
		<classes>
			<class name="com.inverso.dmy.test.OrangeRmFormular" />
		</classes>
	</test>
</suite>